# Backend
HMS-BACKEND/node_modules/
HMS-BACKEND/.env
HMS-BACKEND/.scannerwork/

# Frontend
HMS-FRONTEND/node_modules/
HMS-FRONTEND/.angular/
HMS-FRONTEND/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.dbgit rm -r --cached HMS-BACKEND/node_modules
