.card-section{
    display: flex;
    gap: 20px;

}

.card{
    flex:1;
    background:white;
    padding: 5px 20px;
    border-radius: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     text-align: center;
      transition: transform 0.3s ease, box-shadow 0.2s ease;
        background: #f8fafc;

}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card h3{
font-size: 17px;
color:#64748B;
margin-bottom: 10px;

}

.card p{
    font-size: 20px;
  font-weight: 700;
  color: #0F172A;
  margin-top: 0.61em;
 
}