.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify content to push the left and right section */
    align-items: center;
    padding: 0px 20px;
    min-height: 10vh;
    background-color: #0F172A;
    border-bottom: 1px solid #1E293B;
    color: white;
}

.navbar-left-section{
    font-size: 24px;
    font-weight: bold;
    color: #16B1C5;
}

.navbar-right-section{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: transparent;
    color: #94A3B8;
}