.sidebar{
width: 18vw;
 height:calc(100vh - 10vh);
background-color:#0F172A;
}

.menu{
        display: flex;
    flex-direction: column;
}

.menu a{
    color:#94A3B8;
    text-decoration: none;  
    /* for removing the underline from the texts */
    display: flex;
    gap:10px;
    align-items: center;
    padding:25px;
    border-radius: 10px;
    transition: 0.2s;   
}

.menu a:hover{
    background-color:#1E293B;
    color: white;
}

.menu a.active {
  background-color:#070707;
  color: #16B1C5;
  border-radius: 8px;
}

.menu a.active i {
  color: #16B1C5;
}
